h1 Wait Your Turn

= link_to "Try To Take Turn", game_path(@game.id)

p Your Cards:
// Get the cards of the current player and list them all
/ .card data-controller="card" data-card-id=@game.id data-card-user=current_user.id
/   .card data-target="card.status"
/     = render partial: 'cards_in_hand', locals: {cards: @game.list_cards_of_player_with_user_id(current_user.id)}

// data-controller="game" tells Stimulus which controller to use
// data-game-id=@game.id gets used by both Stimulus and ActionController

/ .round data-controller="round" data-round-id=@game.id data-round-user=current_user.id
/   // tells Stimulus which DOM element to update
/   .round data-target="round.status"
/     = render partial: 'round_results', locals: {round_results: @game.round_results, current_user: current_user}

= react_component('GameView', {path: game_path(@game.id)})